<header class="flex flex-row md:flex-col">
    <div class="flex p-4">
        <span class="p-2 text-4xl text-gray-700">The Mobile Hour</span>
        <div class="hidden md:flex gap-4 ml-auto ">
            <a href="#" class="inline-flex gap-1">
                <app-icon class="gray-700" size="1.2rem" name="user"></app-icon>
                <span class="self-center">Login</span>
            </a>
            <a href="#" class="inline-flex gap-1">
                <app-icon class="gray-700" size="1.2rem" name="heart"></app-icon>
                <span class="self-center">Shortlist</span>
            </a>
            <a href="#" class="inline-flex gap-1">
                <app-icon class="gray-700" size="1.2rem" name="cart"></app-icon>
                <span class="self-center">Cart</span>
            </a>
        </div>
    </div>
    <app-main-menu class="ml-auto md:ml-0 self-center md:self-auto"></app-main-menu>
</header>
