<section>
    <table *ngIf="users$ | async as users" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th *ngFor="let header of users[0] | keyvalue: originalOrder" scope="col" class="px-6 py-3">
                {{ header.key }} 
                </th>
                <th>
                    ACTIONS
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entry of users" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td *ngFor="let cell of entry | keyvalue: originalOrder; let i = index" class="px-6 py-3" [class]="i === 0 ? 'font-semibold' : ''">
                    {{ cell.value }}
                </td>
                <td>
                    <button class="primary small mx-2">Modify</button>
                    <button class="primary small mx-2">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <br/>
    
    <a routerLink="/admin/manage-users/add" role="button" class="primary small mx-2 text-sm">Add user</a>

</section>