<section
  *ngIf="product$ | async as prd"
  class="flex justify-center flex-col md:flex-row p-2 md:p-10 gap-5 md:gap-20"
>
  <img
    class="w-full md:w-1/3 rounded-xl self-baseline"
    src="/assets/images/generic.png"
  />
  <article class="w-full md:w-1/3 text-lg">
    <h2 class="font-bold text-2xl">{{ prd.manufacturer }}</h2>
    <h3 class="text-2xl mb-4">{{ prd.product_name }} {{ prd.product_model }}</h3>
    <form>
      <div *ngIf="prd.features.length" class="mb-4">
        <h4 class="font-semibold text-xl mb-2">Product features</h4>
        <ul class="text-sm">
          <li><strong>Weight:</strong> {{prd.features[selectedFeature].weight}}</li>
          <li><strong>Dimensions:</strong> {{prd.features[selectedFeature].dimensions}}</li>
          <li><strong>OS:</strong> {{prd.features[selectedFeature].os}}</li>
          <li><strong>Screensize:</strong> {{prd.features[selectedFeature].screensize}}</li>
          <li><strong>Resolution:</strong> {{prd.features[selectedFeature].resolution}}</li>
          <li><strong>CPU:</strong> {{prd.features[selectedFeature].cpu}}</li>
          <li><strong>RAM:</strong> {{prd.features[selectedFeature].ram}}</li>
          <li><strong>Storage:</strong> {{prd.features[selectedFeature].storage}}</li>
          <li><strong>Battery:</strong> {{prd.features[selectedFeature].battery}}</li>
          <li><strong>Rear Camera:</strong> {{prd.features[selectedFeature].rear_camera}}</li>
          <li><strong>Front Camera:</strong> {{prd.features[selectedFeature].front_camera}}</li>
        </ul>
      </div>
      <!-- <fieldset class="flex" role="radiogroup">
        <legend>Choose your colour:</legend>
        <ng-container *ngFor="let color of prd.colorsAvailable">
          <input
            class="sr-only"
            name="colorOption"
            value="color.tag"
            type="radio"
            [id]="color.tag"
          />
          <label
            [style.background-color]="color.code"
            class="color-option"
            [for]="color.tag"
          ></label>
        </ng-container>
      </fieldset>
      <br />
      <br /> -->
      <fieldset *ngIf="prd.features.length" class="flex" role="radiogroup">
        <legend>Choose your capacity</legend>
        <ng-container *ngFor="let feature of prd.features; let i = index">
          <input
            class="sr-only"
            name="capacityOption"
            value="capacity"
            type="radio"
            [id]="feature.storage"
            (click)="selectedFeature = i"
          />
          <label class="capacity-option" [for]="feature.storage">{{
            feature.storage
          }}</label>
        </ng-container>
      </fieldset>
      <br />
      <h3 class="font-bold text-4xl">${{ prd.price }}</h3>
      <br />
      <span class="text-sm">{{ prd.stock_on_hand }} in stock</span>
      <br />
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 inline-block w-16 p-1.5 mr-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        value="1"
        type="number"
      />
      <button class="primary small">Add to cart</button>
    </form>
  </article>
</section>

<app-popular-products></app-popular-products>
