.color-option {
    margin: 0.2rem;
    background-color: orange;
    display: block;
    width: 5rem;
    height: 3rem;
}

.capacity-option {
    margin: 0.25rem;
    background-color: #F2F2F2;
    display: block;
    width: 5rem;
    height: 3rem;
    justify-content: center;
    display: flex;
    align-items: center;
}


input:checked + label {
    box-shadow: 0px 0px 0 2px black;
}