<section class="flex w-full flex-col justify-center items-center p-2">
    <h2 class="text-3xl font-bold"> Popular products </h2>

    <div class="flex w-full flex-row items-center justify-center flex-wrap gap-4">
        <app-product-card
        imageUrl="https://www.optus.com.au/content/dam/optus/images/shop/mobile/phones/samsung/samsung-galaxy-s23-fe/product-tiles/listing-samsung-galaxy-s23-fe.png/renditions/version-1698869826879/original.png"
        size="8rem"
        label="iPhone 99"
        cta="Buy now"
        ></app-product-card>

        <app-product-card
        imageUrl="https://www.optus.com.au/content/dam/optus/images/shop/mobile/phones/samsung/samsung-galaxy-s23-fe/product-tiles/listing-samsung-galaxy-s23-fe.png/renditions/version-1698869826879/original.png"
        size="8rem"
        label="iPhone 99"
        cta="Buy now"
        ></app-product-card>

        <app-product-card
        imageUrl="https://www.optus.com.au/content/dam/optus/images/shop/mobile/phones/samsung/samsung-galaxy-s23-fe/product-tiles/listing-samsung-galaxy-s23-fe.png/renditions/version-1698869826879/original.png"
        size="8rem"
        label="iPhone 99"
        cta="Buy now"
        ></app-product-card>

        <app-product-card
        imageUrl="https://www.optus.com.au/content/dam/optus/images/shop/mobile/phones/samsung/samsung-galaxy-s23-fe/product-tiles/listing-samsung-galaxy-s23-fe.png/renditions/version-1698869826879/original.png"
        size="8rem"
        label="iPhone 99"
        cta="Buy now"
        ></app-product-card>

        <app-product-card
        imageUrl="https://www.optus.com.au/content/dam/optus/images/shop/mobile/phones/samsung/samsung-galaxy-s23-fe/product-tiles/listing-samsung-galaxy-s23-fe.png/renditions/version-1698869826879/original.png"
        size="8rem"
        label="iPhone 99"
        cta="Buy now"
        ></app-product-card>
    </div>
</section>