
<div id="sticky-banner" tabindex="-1" class="z-50 flex justify-between w-full p-4 border-b bg-gray-300 dark:bg-gray-700">
    <div class="flex items-center mx-auto">
        <p class="flex flex-col md:flex-row items-center text-sm font-normal text-gray-500 dark:text-gray-400 gap-4 ">
            <a routerLink="/not-found" class="flex gap-2">
                <app-icon class="gray-700" size="2rem" name="truck"></app-icon>
                <span class="self-center text-lg font-bold text-gray-700">Free delivery</span>
            </a>
            <a routerLink="/not-found" class="flex gap-2">
                <app-icon class="gray-700" size="2rem" name="sack-dollar"></app-icon>
                <span class="self-center text-lg font-bold text-gray-700">Price guarantee</span>
            </a>
           <a routerLink="/not-found" class="flex gap-2">
                <app-icon class="gray-700" size="2rem" name="circle-check"></app-icon>
                <span class="self-center text-lg font-bold text-gray-700">24 month warranty</span>
            </a>
            <a routerLink="/not-found" class="flex gap-2">
                <app-icon class="gray-700" size="2rem" name="rotate"></app-icon>
                <span class="self-center text-lg font-bold text-gray-700">Pay your way</span>
            </a>
        </p>
    </div>
</div>