<section class="flex flex-col items-center justify-center py-5">
    <h2 class="font-bold text-2xl py-5">{{ productId ? 'Modify' : 'Create new' }} product</h2>
    <form [formGroup]="productForm" class="space-y-2 w-full" (ngSubmit)="onSubmit()">
        <label for="product_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product name *</label>
        <input formControlName="product_name" type="text" name="product_name" id="product_name" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        <div *ngIf="productForm.get('product_name')?.touched && productForm.get('product_name')?.errors" class="my-2 text-red-600">This field is required</div>

        <label for="product_model" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product model *</label>
        <input formControlName="product_model" type="text" name="product_model" id="product_model" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        <div *ngIf="productForm.get('product_model')?.touched && productForm.get('product_model')?.errors" class="my-2 text-red-600">This field is required</div>

        <label for="manufacturer" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Manufacturer *</label>
        <input formControlName="manufacturer" type="text" name="manufacturer" id="manufacturer" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        <div *ngIf="productForm.get('manufacturer')?.touched && productForm.get('manufacturer')?.errors" class="my-2 text-red-600">This field is required</div>

        <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price *</label>
        <input formControlName="price" type="number" name="price" id="price" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [required]="!productId">
        <div *ngIf="productForm.get('price')?.touched && productForm.get('price')?.errors" class="my-2 text-red-600">This field is required</div>

        <label for="stock_on_hand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock on hand *</label>
        <input formControlName="stock_on_hand" type="number" name="stock_on_hand" id="stock_on_hand" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [required]="!productId">
        <div *ngIf="productForm.get('stock_on_hand')?.touched && productForm.get('stock_on_hand')?.errors" class="my-2 text-red-600">This field is required</div>

        <br/>

        <label>Product features</label>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead>
                <tr>
                    <th>weight</th>
                    <th>dimensions</th>
                    <th>os</th>
                    <th>screensize</th>
                    <th>resolution</th>
                    <th>cpu</th>
                    <th>ram</th>
                    <th>storage</th>
                    <th>battery</th>
                    <th>rear_camera</th>
                    <th>front_camera</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let feature of productForm.get('features')?.value; let i = index">
                    <td>{{feature.weight}}</td>
                    <td>{{feature.dimensions}}</td>
                    <td>{{feature.os}}</td>
                    <td>{{feature.screensize}}</td>
                    <td>{{feature.resolution}}</td>
                    <td>{{feature.cpu}}</td>
                    <td>{{feature.ram}}</td>
                    <td>{{feature.storage}}</td>
                    <td>{{feature.battery}}</td>
                    <td>{{feature.rear_camera}}</td>
                    <td>{{feature.front_camera}}</td>
                    <td>
                        <ng-container *ngIf="!deleteConfirmationPending[feature.id]">
                            <button class="primary small mx-2" routerLink="/admin/manage-products/{{feature.id}}">Modify</button>
                            <button class="primary small mx-2" (click)="confirmDelete(feature.id)">Delete</button>
                        </ng-container>
                        <ng-container *ngIf="deleteConfirmationPending[feature.id]">
                            <label> Delete this feature? </label>
                            <button class="safe small mx-2" (click)="cancelDelete(feature.id)">No</button>
                            <button class="danger small mx-2" (click)="deleteFeature(i)">Yes</button>
                        </ng-container>
                    </td>
                </tr>
                <tr *ngIf="isNewFeatureVisible" [formGroup]="newFeatureForm">
                    <td><input formControlName="weight" type="text" placeholder="weight" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-0.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" /></td>
                    <td><input formControlName="dimensions" type="text" placeholder="dimensions" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-0.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" /></td>
                    <td><input formControlName="os" type="text" placeholder="os" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-0.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" /></td>
                    <td><input formControlName="screensize" type="text" placeholder="screensize" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-0.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" /></td>
                    <td><input formControlName="resolution" type="text" placeholder="resolution" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-0.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" /></td>
                    <td><input formControlName="cpu" type="text" placeholder="cpu" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-0.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" /></td>
                    <td><input formControlName="ram" type="text" placeholder="ram" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-0.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" /></td>
                    <td><input formControlName="storage" type="text" placeholder="storage" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-0.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" /></td>
                    <td><input formControlName="battery" type="text" placeholder="battery" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-0.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" /></td>
                    <td><input formControlName="rear_camera" type="text" placeholder="rear camera" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-0.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" /></td>
                    <td><input formControlName="front_camera" type="text" placeholder="front camera" class="w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-0.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" /></td>
                    <td><button class="safe small mx-2" type="button" (click)="addFeature()">Add</button></td>
                </tr>
            </tbody>
        </table>

        <ng-container>
            <!-- Feature modifier goes here -->
        </ng-container>

        <button *ngIf="!isNewFeatureVisible" class="primary small" type="button" (click)="isNewFeatureVisible = true"> Add feature </button>

        <div *ngIf="error" class="my-2 text-red-600">{{error}}</div>

        <br/>

        <button class="primary" type="submit" [disabled]="productForm.invalid"> {{ productId ? 'Save changes' : 'Create product' }} </button>
        <button class="secondary ml-4" (click)="back()"> Cancel </button>
    </form>
</section>